<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="footer">
    <!-- https://mdbootstrap.com/docs/standard/navigation/footer/#section-basic-example -->
    <footer class="bg-dark text-left text-lg-start text-secondary">
        <!-- Grid container -->

        <div class="col-md-8 offset-md-2 container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class=" col-md-7 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Über uns</h5>
                    <p>
                        Die traditionsreiche Bank of Hamilton wurde im Jahr 2020 durch den Visionär Joshua
                        Hamilton gegründet. Sein Ziel war es, allen Menschen ein lebenswertes Leben zu ermöglichen.
                        Durch seine
                        Hingabe wurde die Utopie des bedingungslosen Grundeinkommens zur Wirklichkeit. Er hat die
                        schlauesten
                        Köpfe des Systems um sich versammelt und sie haben die Arbeit angepackt.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Philosophie</h5>

                    <p>
                        Ausreißen aus dem gesellschaftlichen Zwang und die eigenen Träume und Ziele verfolgen.
                        Seit nunmehr 0 Jahren setzt die Bank of Hamilton alles daran, dass Deine Zukunft noch rosiger
                        wird als die rosigste Rose der Landesgartenschau.
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3">
            © 2021 Bank of Hamilton
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>