<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header(showMeinBanking)">
    <nav class="offset-md-2 col-8 navbar fixed-top navbar-expand-md bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-1 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
            <h1><a class="text-dark" th:href="@{/}">HAMILTON</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li th:if="${showMeinBanking}" class="nav-item">
                    <a class="btn btn-outline-dark nav-link mr-2" th:href="@{/home}" role="button">
                        Mein Banking</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger nav-link" th:href="@{/logout}"
                       role="button">Logout</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="btn btn-outline-dark nav-link" th:href="@{/registration}"
                       role="button">Registrieren</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>