<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HAMILTON</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/overview}">Übersicht</a>
                    <a class="nav-link" th:href="@{/deposit}">Einzahlen</a>
                    <a class="nav-link" th:href="@{/transaction}">Überweisen</a>
                    <a class="nav-link" th:href="@{/consulting}">Beratergespräch</a>
                </div>
                <div class="nav navbar-right">
                    <a class="btn btn-outline-primary" th:href="@{/account}"
                       role="button">Account</a>
                    <a class="btn btn-outline-danger" th:href="@{/logout}" role="button">Ausloggen</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>