<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Wertpapiere</title>
</head>
<body class="bg-light" style="margin-top: 80px">

<div th:replace="fragments/header_authenticated :: header"></div>

<div class="container">
    <div class="col-md-6 offset-md-3">


        <h1>Portolio</h1>
        <h2 th:text="'Portfoliowert: ' + ${portfolio.stockValueTotal}"></h2>
        <h2 th:text="'Höhe der Dividenden: ' + ${portfolio.dividendsTotal}"></h2>
        <h2 th:text="'Gezahlte Gebühren: ' + ${portfolio.feesTotal}"></h2>

        <!-- TODO hardcoded -->
        <h1>TaxReport 2020</h1>
        <table>
            <tr>
                <th>Wertpapier</th>
                <th>ISIN</th>
                <th>Gewinn</th>
                <th>Gebühren</th>
            </tr>
            <tr th:each="p : ${taxreport.positions}">
                <td th:text="${p.stockName}"></td>
                <td th:text="${p.isin}"></td>
                <td th:text="${p.earning}"></td>
                <td th:text="${p.fee}"></td>
                <td></td>
            </tr>

    </div>
</div>

</body>
</html>