<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Übersicht</title>
</head>
<body class="bg-light" style="margin-top: 80px">

<div th:replace="fragments/header_customer :: header"></div>

<div class="container">
    <div class="col-md-8 offset-md-2">
        <h1 th:text="${currentCustomer.firstName} + ', ja moinsen!'"></h1>
        <h2>Kontostand</h2>
        <h2 th:text="${currentCustomer.bankAccount.balance} + '€'"></h2>

        <!-- Stonks-->
        <div th:unless="${currentCustomer.stonksApiKey}">
            <p> Um Ihr <a th:href="@{${stonksUrl}}">Stonks-Portfolio</a> anzuzeigen, bitte API Key in den Einstellungen
                hinterlegen.</p>
        </div>
        <div th:if="${currentCustomer.stonksApiKey}">
            <div th:switch="${stonksError}">
                <p th:case="'auth'">Stellen Sie sicher, dass Sie den richtigen Stonks-API Key hinterlegt haben.</p>
                <p th:case="'other'">Momentan kann nicht auf Ihr Portfolio zugegriffen werden. Versuchen Sie, <a
                        th:href="@{${stonksUrl}}">Stonks direkt zu erreichen.</a></p>
                <div th:case="*">
                    <h2 th:text="'Portfoliowert: ' + ${portfolio.stockValueTotal}"></h2>
                    <a class="btn" th:href="@{${stonksUrl}}">zu Stonks wechseln</a>
                </div>
            </div>
        </div>

        <!-- List of Transactions-->
        <div th:if="${transactions.size > 0}">
            <form th:action="@{/statement}" method="get">
                <button class="btn-block">Kontoauszug herunterladen</button>
            </form>
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Konto</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                </tr>
                <tr th:each="t : ${transactions}"
                    th:with="isOutgoing=(${t.fromAccount} == ${currentCustomer.bankAccount})">
                    <td th:text="${#calendars.format(t.date,'dd.MM.yyyy')}"></td>
                    <td th:text="${isOutgoing} ? ${t.toAccount} : ${t.fromAccount}"></td>
                    <td th:text="${t.description}">Description</td>
                    <td th:if="${isOutgoing}" class="text-danger" th:text="'- ' + ${t.amount}"></td>
                    <td th:unless="${isOutgoing}" class="text-success" th:text="'+ ' + ${t.amount}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>