<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Überweisen</title>
</head>

<body class="bg-light" style="margin-top: 80px">

<div th:replace="fragments/header_authenticated :: header"></div>

<form th:action="@{/transfer}" method="post" th:object="${transactionForm}">
    <div class="form-group">
        <label for="receiver">Nutzername des Empfängers</label>
        <input th:field="*{toUsername}" type="text" class="form-control" id="receiver">

        <label for="description">Beschreibung</label>
        <input th:field="*{description}" type="text" class="form-control" id="description">

        <label for="amount">Betrag</label>
        <input th:field="*{amount}" type="number" class="form-control" id="amount">
    </div>

    <button type="submit" class="btn btn-primary">Überweisen</button>
</form>
</body>
</html>